body {
    font-family: 'Gotham Bold', sans-serif;
}

.centered-element {
    position: absolute;
    transform: translateY(25%);
}

header img {
    margin-top: 10%;
}

.screen {
    height: 100vh;
}

.home {
    background-image: url("../images/1HOME/HOME.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.menu {
    background-image: url("../images/2OPCIONES/FONDO_OPCIONES.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.legal {
    background-image: url("../images/3LEGAL/FONDO-LEGAL.png");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.video {
    background-image: url("../images/4GRABARVIDEO/FONDO_GRABAR.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.template {
    background-image: url("../images/5TOMARFOTO/FONDO_TOMARFOTO.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.capture {
    background-image: url("../images/6CONTEO/FONDO_CONTEO.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.preview {
    background-image: url("../images/7PREVISUALIZAR/FONDO-PREVISUALIZAR.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}

.terms-conditions {
    color: white;
    text-align: justify;
    padding: 10% 10% 0% 10%;
}

.terms-conditions p {
    border: 1px solid white;
    font-size: 14px;
    padding: 10%
}

.legal-accept {
    margin-top: -5%;
}

.video-wrap {
    margin-top: 10%;
}

.buttons {
    padding-top: 160%;
}

.options {
    padding-top: 70%;
    padding-bottom: 40%;
}

footer {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.capture-photo {
    filter: brightness(0.5);
}

#video, #preview-rec {
    width: 100%;
    top: 10%; 
}

#photo {
    top: 10%; 
    max-width: 100%;
    max-height: 100%;
}

#canvas {
    width: 100%;
    height: 1020px;
    top: 10%; 
}

.capsule {
    padding-top: 10%;
}

.video-photo {
    position: absolute; 
    z-index: 1;
}

.count {
    width: 100%;
    
    margin: 0;
    text-align: center;
    position: absolute; 
    z-index: 2;
    -ms-transform: translateY(60%);
    transform: translateY(60%);
}

#number {
    font-size:200px;
    color:#ffffff;
}

#template
{
    position: absolute;
    width: 97%;
    z-index: 3;
}

form {
    margin-top: 40%;
}

.form-control {
    font-size: 1.5rem !important;
    border-radius: 70px;
    padding: 0.5rem 2rem;
    line-height: 1.5;

    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #14728b;
    box-shadow: 0 0 .2rem #14728b,
                0 0 .2rem #14728b,
                0 0 2rem #14728b,
                0 0 0.8rem #14728b,
                0 0 2.8rem #14728b,
                inset 0 0 1.3rem #14728b; 
}