################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CityCapsulaApp/FileContentIndex
/.vs
/city-capsula-app-win32-x64
/node_modules
